rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Regla para las fotos de perfil
    // Permite que cualquiera lea la foto, pero solo el dueño del perfil puede subirla/actualizarla.
    match /profiles/{userId}/profile.jpg {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Regla para las fotos de los vehículos
    // Permite que cualquiera lea las fotos, pero solo el dueño puede subir archivos a su propia carpeta.
    match /vehicles/{userId}/{fileName} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

  }
}
